@page "/Section/{SectionId:long}/Article/{ArticleId:long}/Edit"
@using AndcultureCode.CSharp.Core.Extensions
@using BlazorCMS.Client.Services
@using BlazorCMS.Client.State
@using BlazorCMS.Shared.Dtos
@inherits BlazorState.BlazorStateComponent

@if (Article != null)
{
    <h1>Editing: @Article.Title</h1>
    <Editor InitialContent="@Article.Body" OnSave="@OnSave" OnCancel="@OnCancel" IsLoading="@IsLoading"/>
}

@code {

    [Parameter]
    public long? ArticleId { get; set; }

    [Parameter]
    public long? SectionId { get; set; }

    [Inject]
    private NavigationManager _navigationManager { get; set; }
    private ArticleService    _articleService    { get; set; }

    private bool IsLoading { get; set; }

    private ArticleDto Article => Store.GetState<ClientState>()?.Articles?.FirstOrDefault(e => e.Id == ArticleId);

    private async Task OnSave(string newContent)
    {
        IsLoading = true;
        var article = Article;
        article.Body = newContent;
        var result = await _articleService.Post(article);
        if (!result.HasErrorsOrResultIsNull())
        {
            var state = Store.GetState<ClientState>();
            state.Articles = state.Articles.Where(e => e.Id != article.Id).ToList();
            state.Articles.Add(article);
            Store.SetState(state);
            _navigationManager.NavigateTo($"/Section/{SectionId}/Article/{ArticleId}");
        }

        IsLoading = false;
    }

    private void OnCancel()
    {
        _navigationManager.NavigateTo($"/Section/{SectionId}/Article/{ArticleId}");
    }

    protected override async Task OnInitializedAsync()
    {
        SectionId ??= 1;
        ArticleId ??= 1;
        _articleService = new ArticleService(_navigationManager);
        if (Article == null)
        {
            // populate all the articles for the section so the nav bar updates properly
            var result = await _articleService.Index(SectionId.Value);
            var state  = Store.GetState<ClientState>();
            if (state.Articles == null)
            {
                state.Articles = new List<ArticleDto>();
            }

            state.Articles = state.Articles.Where(e => e.SectionId != SectionId.Value).ToList();
            state.Articles.AddRange(result.ResultObject);
        }
    }

}
