@using AndcultureCode.CSharp.Core.Extensions
@using BlazorCMS.Client.Services
@using BlazorCMS.Client.State
@using BlazorCMS.Shared.Dtos
@inherits BlazorState.BlazorStateComponent

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorCMS</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        @foreach (var section in Sections)
        {
            <li class="nav-item px-3">
                <span @onclick="@(() => LoadArticlesForSections(section.Id))">
                    <NavLink class="nav-link">
                        <span class="oi oi-book" aria-hidden="true"></span> @section.Name
                    </NavLink>
                </span>
                @if (expandedSectionId == section.Id)
                {
                    @if (expandedSectionArticles == null || isLoadingArticles)
                    {
                        <Loading Light="@true"/>
                    }
                    else
                    {
                        <ul class="nav flex-column sub-menu">
                            @foreach (var article in expandedSectionArticles)
                            {
                                <li class="nav-item px-3">
                                    <NavLink class="nav-link" href="@article.Id">
                                        <span class="oi oi-justify-left" aria-hidden="true"></span> @article.Title
                                    </NavLink>
                                </li>
                            }
                        </ul>
                    }
                }
            </li>
        }
    </ul>
</div>

@code {
    [Inject]
    private NavigationManager _navigationManager { get; set; }
    private SectionService    _sectionService    { get; set; }
    private ArticleService    _articleService    { get; set; }
    private bool collapseNavMenu = true;
    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private long             expandedSectionId       { get; set; }
    private List<ArticleDto> expandedSectionArticles { get; set; }
    private bool             isLoadingArticles       { get; set; }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private List<SectionDto> Sections => Store.GetState<ClientState>().Sections;

    private async Task LoadArticlesForSections(long sectionId)
    {
        // if clicked from the already expanded section, collapse it
        if (sectionId == expandedSectionId)
        {
            expandedSectionId       = -1;
            expandedSectionArticles = null;
            isLoadingArticles       = false;
            return;
        }

        expandedSectionId = sectionId;
        isLoadingArticles = true;
        var result = await _articleService.Index(expandedSectionId);
        if (result.HasErrorsOrResultIsNull())
        {
            expandedSectionArticles = new List<ArticleDto>();
            isLoadingArticles       = false;
            return;
        }
        expandedSectionArticles = result.ResultObject.ToList();
        isLoadingArticles       = false;
    }

    private async Task LoadSections()
    {
        var result = await _sectionService.Index();
        var state = Store.GetState<ClientState>();
        state.Sections = result.ResultObject?.ToList() ?? new List<SectionDto>();
        Store.SetState(state);
    }

    protected override async Task OnInitializedAsync()
    {
        _sectionService = new SectionService(_navigationManager);
        _articleService = new ArticleService(_navigationManager);
        await LoadSections();
    }

}
